<%- include("./partials/header") %>
<br>
<h2> Recently Visited </h2>
<ul>
    <% recentBooks.forEach( book => { %>
        <li><a href="/books/<%= book.bookId %>"><%= book.bookId %></a> - Last Visited: <%= book.lastVisited %></li>
    <% }) %>
</ul>
