<%- include("./partials/header") %>
<br>
<h2> Recently Visited </h2>
<ul>
        <% books.forEach(book => { %>
            <li><a href="<%= book.url %>"><%= book.url %></a></li>
        <% }) %>
</ul>
